<h1>Demo Hello</h1>
<p>Hello World From Vel Dhanish</p>
<%=1+1%>
<br>
ID<%=@id%><br>
ID<%=params[:id]%><br>
Page<%=@page%><br>
<%target ="world"%>
<%= "Hello #{target}"%> 
<% @ary.each do |n|%>
<%= n %>
<%end%>
<hr/>
<%=params.inspect%>

